@model IList<BlueModas.Web.ViewModels.ProductIndexViewModel>

@section styles {
    <link rel="stylesheet" href="~/css/product.css">
}

<main class="product">
    <ul class="product__list">
        @foreach(var it in Model)
        {
            <li class="product__list__item">
                <span class="product__list__item__image">
                    <button class="product__list__item__add">
                        <i class="fa fa-shopping-bag"></i>
                    </button>
                </span>
                <h3 class="product__list__item__name">@it.Name</h3>
                <span class="product__list__item__price">@it.Price.ToString("C")</span>
            </li>
        }
    </ul>
</main>
