<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blue Modas</title>
    <script src="https://use.fontawesome.com/c894585c38.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap">
    <link rel="stylesheet" href="~/lib/minireset/minireset.min.css">
    <link rel="stylesheet" href="~/css/app.css">
    <link rel="stylesheet" href="~/css/navbar.css">
    <link rel="stylesheet" href="~/css/alert.css">
    @RenderSection("styles", required: false)
</head>
<body>
    @RenderBody()
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/debounce.js"></script>
    <script src="~/js/mask.js"></script>

    <script>
        $(document).ready(function() {
            $('.alert .fa.fa-times').click(function() { 
                $(this).parent().parent().hide()
            })
        })
    </script>
    
    @RenderSection("scripts", required: false)
</body>
</html>
