<nav class="navbar">
    <div class="navbar__wrapper">
        <a asp-action="Index" asp-controller="Product" class="navbar__brand">Blue Modas</a>
        <a asp-action="Show" asp-controller="ShoppingCart" class="navbar__shopping-cart">
            <i class="fa fa-shopping-bag">
                <span class="navbar__shopping-cart__items">10</span>
            </i>
        </a> 
    </div>
</nav>
