<nav class="navbar">
    <div class="navbar__wrapper">
        <a asp-action="Index" asp-controller="Product" class="navbar__brand">Blue Modas</a>
        <a class="navbar__shopping-cart" href="#">
            <i class="fa fa-shopping-bag">
                <span class="navbar__shopping-cart__items">10</span>
            </i>
        </a> 
    </div>
</nav>
