@section styles {
    <link rel="stylesheet" href="~/css/shopping-cart.css">
}

<partial name="_Navbar" />

<partial name="_Alert" />

<main class="shopping-cart">
    <h2 class="shopping-cart__title">Meu Carrinho</h2>

    <ul class="shopping-cart__list">
        <li class="shopping-cart__list__item">
            <span class="shopping-cart__list__item__image"></span>

            <div class="shopping-cart__list__item__info">
                <header class="shopping-cart__list__item__header">T-Shirt</header>

                <footer class="shopping-cart__list__item__footer">
                    <input class="shopping-cart__list__item__quantity" type="number" step="1" min="1">
                    <span class="shopping-cart__list__item__price">$39.99</span>
                </footer>
            </div>
        </li>

        <li class="shopping-cart__list__item">
            <span class="shopping-cart__list__item__image"></span>
            
            <div class="shopping-cart__list__item__info">
                <header class="shopping-cart__list__item__header">T-Shirt</header>

                <footer class="shopping-cart__list__item__footer">
                    <input class="shopping-cart__list__item__quantity" type="number" step="1" min="1">
                    <span class="shopping-cart__list__item__price">$39.99</span>
                </footer>
            </div>
        </li>

        <li class="shopping-cart__list__item">
            <span class="shopping-cart__list__item__image"></span>
            
            <div class="shopping-cart__list__item__info">
                <header class="shopping-cart__list__item__header">T-Shirt</header>

                <footer class="shopping-cart__list__item__footer">
                    <input class="shopping-cart__list__item__quantity" type="number" step="1" min="1">
                    <span class="shopping-cart__list__item__price">$39.99</span>
                </footer>
            </div>
        </li>
    </ul>
</main>
