.shopping-cart {
  margin: 0 auto;
  max-width: 960px;
  padding: 16px;
}

.shopping-cart__title {
  color: var(--white);
  font-size: 34px;
  font-weight: bold;
}

.shopping-cart__list {
  display: flex;
  flex-direction: column;
}

.shopping-cart__list__item {
  background: var(--gray);
  border-radius: 8px;
  box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.08);
  display: flex;
  margin-bottom: 24px;
}

.shopping-cart__list__item__image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px 0 0 8px;
  height: 104px;
  max-width: 104px;
  min-width: 104px;
  width: 100%;
}

.shopping-cart__list__item__info {
  padding: 14px;
  overflow: hidden;
  width: 100%;
}

.shopping-cart__list__item__header {
  color: var(--white);
  font-size: 16px;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.shopping-cart__list__item__footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
}

.shopping-cart__list__item__quantity {
  border: 1px solid var(--gray);
  border-radius: 4px;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
  font-size: 17px;
  height: 36px;
  max-width: 80px;
  min-width: 80px;
  padding: 6px 16px;
  text-align: center;
  width: 100%;
}

.shopping-cart__list__item__price {
  font-size: 14px;
  color: var(--white);
  min-width: 80px;
  max-width: 80px;
  text-align: center;
  width: 100%;
}

.shopping-cart__list__item__remove {
  background: no-repeat;
  border: none;
  color: var(--white);
  cursor: pointer;
  font-size: 16px;
  margin: 6px 4px 0 0;
}

.shopping-cart__actions {
  display: flex;
  justify-content: flex-end;
}

.shopping-cart__actions__item {
  align-items: center;
  border-radius: 25px;
  color: var(--white);
  display: flex;
  flex: 1;
  font-size: 14px;
  justify-content: center;
  max-width: 200px;
  min-height: 48px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.shopping-cart__actions__item--keep-buying {
  border: 1px solid var(--white);
  margin-right: 4px;
}

.shopping-cart__actions__item--finish-order {
  background-color: var(--red);
  box-shadow: 0px 4px 8px rgba(239, 54, 81, 0.35);
  margin-left: 4px;
}

.shopping-cart__empty {
}

.shopping-cart__empty > i {
  color: var(--red-light-1);
  display: block;
  font-size: 120px;
  margin-top: 16px;
  text-align: center;
}

.shopping-cart__empty__title {
  color: var(--white);
  font-size: 34px;
  font-weight: bold;
  margin-top: 50px;
  text-align: center;
}

.shopping-cart__empty__description {
  color: var(--white);
  margin-top: 12px;
  text-align: center;
}

@media (min-width: 768px) {
  .shopping-cart__list__item__info {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .shopping-cart__list__item__footer {
    margin-top: 0;
  }

  .shopping-cart__list__item__price {
    margin-left: 16px;
  }
}
